/* COMMON */
body {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}

.section {
    padding: 60px 0;
}

h2 {
    font-size: 35px;
    margin-bottom: 20px;
}

h3 {
    font-size: 20px;
}

.blue_text {
    color: #021d4e;
}

.white_text,
.white_text li {
    color: white;
}

.gray_text,
.gray_text li {
    color: #536384;
}

.sub_title {
    font-size: 22px;
    margin: 20px 0 60px;
}

.blue_bg {
    background-image: linear-gradient(#0048c6, #001f9a);
}

img {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
}

a, a:hover {
    text-decoration: none;
}

/* HEADER */
/* top nav */
header .top_nav {
    font-size: 16px;
    margin: 20px 0;
}

header nav .menu li {
    display: inline-block;
}

header nav .menu a {
    color: #293147;
}

/* logo */
header .logo img {
    vertical-align: middle;
}

/* menu centrale */
header nav .menu_cx {
    text-align: right;
    color: #333742;
    padding-top: 7px;
}

header nav .menu_cx li {
    margin-right: 15px;
}

/* menu destra */
header nav .menu_dx {
    text-align: right;
    padding-top: 7px;
}

header nav .menu_dx li {
    margin-left: 15px;
}

header nav .menu #signup {
    padding: 10px;
    color: #006aff;
    border: 1px solid #006aff;
    border-radius: 5px;
}

header nav .menu #signup:hover {
    color: white;
    background-color: #006aff;
    border: 1px solid white;
}

/* burger menu */
header nav .burger_menu {
    font-size: 30px;
    color: #006aff;
    text-align: right;
}

/* jumbotron */
header .jumbotron {
    background-image: url(../img/ms-jumbo.jpg);
    background-size: cover;
    padding: 60px 0;
    margin-bottom: 0;
}

header .jumbotron h1 {
    color: white;
    font-size: 65px;
}

.jumbotron p {
    color: gainsboro;
    font-weight: 500;
}

header .jumbotron .jumb_box {
    background-color: white;
    border-radius: 10px;
    padding: 30px 20px;
}

header .jumbotron .jumb_box h3 {
    color: #006aff;
    margin-top: 15px;
}

header .jumbotron form input {
    padding-left: 7px;
    height: 45px;
    border: 1px solid #e6e6e6;
    box-shadow: none;
}

header .jumbotron .form-group {
    margin-bottom: 10px;
}

header .jumbotron form input::placeholder {
    font-size: 17px;
    color: dimgray;
}

header .jumbotron .create_btn {
    font-size: 15px;
    font-weight: 500;
    width: 100%;
    background-color: #579aff;
    border: 1px solid #579aff;
}

header .jumbotron .google_btn {
    font-size: 15px;
    font-weight: 500;
    color: dimgray;
    background-color: white;
    width: 100%;
    position: relative;
    border: none;
    box-shadow: 1.5px 1.5px 3px rgba(0, 0, 0, 0.2);
}

header .jumbotron img {
    height: 20px;
    width: auto;
    position: absolute;
    left: 2%;
}

header .jumbotron .jumb_box a {
    text-decoration: underline;
    color: #006aff;
}

/* MAIN */
/* sezione clienti */
#customers {
    background-color: whitesmoke;
    padding: 50px 0 35px;
}

#customers h4 {
    color: gray;
    text-transform: uppercase;
}
#customers a {
    font-size: 17px;
    color: #006aff;
}

#customers li {
    display: inline-block;
    vertical-align: middle;
    width: calc((100% / 6) - 4px);
    padding: 0 0.5%;
}

/* sezione servizi */
#services ul {
    padding-left: 10px;
    border-left: 1px solid gray;
}

#services li {
    font-size: 20px;
    padding: 10px 0;
}

#services .row {
    padding: 0 80px;
}

#services .services_box {
    margin-bottom: 30px;
}

#services .img_box {
    max-width: 40px;
}

/* sezione developer e development team */
#developers, #dev_teams {
    background-color: whitesmoke;
}

#developers .slide,
#dev_teams .slide {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

#dev_teams .slide img {
    max-width: 300px;
    margin: auto;
}

#developers .left_chevron,
#dev_teams .left_chevron {
    font-size: 35px;
    color: gray;
    text-align: right;
}

#developers .right_chevron,
#dev_teams .right_chevron {
    font-size: 35px;
    color: #293147;
}

#developers .circle li,
#dev_teams .circle li {
    display: inline-block;
    width: 13px;
    height: 13px;
    border: 1px solid #006aff;
    border-radius: 50%;
}

#developers .circle li:first-child,
#dev_teams .circle li:first-child {
    background-color: #006aff;
}

/* sezione necessita */
#needs .img_box img {
    max-width: 40px;
}

#dev_teams .slide {
    background-color: white;
}

/* sezione server */
#servers li {
    padding: 5px;
}

#servers .list-inline li:first-child {
    width: 20%;
    font-weight: 500;
    padding-left: 10px;
    padding-right: 40px;
}

#servers .list-inline .server_name {
    width: 58%;
}

#servers .list-inline li:last-child {
    text-align: right;
    width: 20%;
    border-bottom: none;
}

#servers .server_list>li {
    border-bottom: 1px solid white;
}

#servers .server_list>li:last-child {
    border-bottom: none;
}

/* sezione crea account */
#start .btn {
    background-color: white;
}

/* FOOTER */
footer {
    background-color: #031c4e;
}

footer .footer_img {
    max-width: 50px;
    height: auto;
}

footer .social .menu li {
    padding-left: 10px;
    font-size: 25px;
    display: inline-block;
    text-align: center;
}

/* MEDIA QUERY */
/* extra small screen */
@media screen and (max-width: 767px) {
    header .jumbotron h1 {
        font-size: 38px;
    }

    main #customers li {
        width: calc((100% / 2) - 2px);
        padding: 0 5%;
    }

    #developers .slide,
    #dev_teams .slide {
        max-width: 300px;
    }
}

/* small screen */
@media screen and (min-width: 768px)
and (max-width: 991px) {
    header .jumbotron h1 {
        font-size: 38px;
    }

    #developers .slide,
    #dev_teams .slide {
        max-width: 380px;
    }
}